h1{
    color:black;
    text-align: center;
    font-family:cursive;
    margin-top: 60px;
    margin-bottom: 60px;
}
h2{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: black;
    text-align: left;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:yellowgreen;
    padding: 0%;
    margin:0%
}
.flex-container-1 {
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.flex-container-2 {
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.box-1{
    border: 1px solid black;

}
.box-2{
    border: 1px solid black;
    
}
.box-3{
    border: 1px solid black;
    
}
.box-4{
    border: 1px solid black;
    width: 22%;
    
}
.box-5-container{
border: 1px solid black;
width: 78%;
display:table-header-group;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
color: #555;
font-weight: bold;

    
}
.list-of-things{
list-style: none;
padding: 0%;
margin: 0%;
}
.t1{
    background-color: azure;
}
.t2{
    background-color:aquamarine;
}
.t3{
    background-color:aqua;
}
.t4{
    background-color:blue;
}
.t5{
    background-color:darkblue;
}


